* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 16px;
}

.navigation__menu ul {
    display: flex;
    gap: 30px;
}

.navigation__menu ul li {
    list-style: none;

}

.navigation__menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.navigation__menu_btn {
    background-color: #30B868;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}
.navigation__menu_btn:hover{
    background-color: #5318df5d;
}


/*hero section */

.hero__section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 16px;
    text-align: center;
}

.hero__section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.hero__section_bt1 {
    display: flex;
    color: #30B868;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 40px;
    border: none;
    font-family: "Inter", sans-serif;
    gap: 15px;
    align-items: center;
}
.hero__section_bt1:hover{
    background-color: #e5fff05d;
}


.ciccle_x1 {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #30B868;
    display: inline-block;
    box-shadow: 0 0 5px 5px rgba(38, 219, 107, 0.9);
}

.header__section_heading {
    color: #fff;
    font-size: 72px;
    padding-top: 20px;
    font-family: "Inter", sans-serif;
}

.header___section__heading_color {
    color: #30B868;
}

.header__section_pera {
    color: #ffff;
    font-size: 18px;
    line-height: 40px;
    font-family: "Inter", sans-serif;
}

.hero__section_2button {
    display: flex;
    gap: 15px;
}

.hero__section_bt2 {
    color: #ffff;
    background-color: #30B868;
    padding: 11px 40px;
    border: none;
    margin-top: 20px;
    border-radius: 3px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.hero__section_bt2:hover{
    background-color: #b8e7cb5d;
}
.btn_play{
    display: inline-block;
    color: #fff;
}


.hero__section_bt3 {
    padding: 10px 30px;
    border: 1px solid white;
    margin-top: 20px;
    border-radius: 3px;
    background: none;
    color: #ffff;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.hero__section_bt3:hover{
    background-color: #b8e7cb5d;
}

.cart__main_section {
    padding-top: 100px;
    text-align: center;
    background-color: #F7F6F2;
    max-height: 600px;
    width: 100%;
}

.cart__main_section h2 {
    color: #001931;
    font-size: 48px;
    font-family: "Inter", sans-serif;
}

.cart__main_section p {
    color: #627382;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding-top: 20px;
}

.cart__section {
    display: flex;
    justify-content: space-around;
    margin-right: 250px;
    margin-left: 250px;
    padding-top: 100px;
}

.cart__section h4{
    padding-top: 15px;
    font-size: 24px;
    font-family: "Inter", sans-serif;
}
.cart__section p{
  font-family: "Inter", sans-serif;
}

.mini__card1 {
    width: 300px;
    height: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    align-items: center;
}

.mini__card2 {
    width: 300px;
    height: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    align-items: center;
}

.mini__card3 {
    width: 300px;
    height: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    align-items: center;
}

.mini__card4 {
    width: 300px;
    height: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    align-items: center;
}

.cart__circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #F95555;
    display: inline-block;
    padding-top: 10px;
    margin-top: 80px;
}

.brain__section{
    display: flex;
    padding-top: 100px;
    gap: 50px;

}
.brain__section_img{
    margin-left: 270px;
}
.brain__section_text{
    padding-top: 100px;
    font-family: "Inter", sans-serif;
}
.brain__section_text h4{
    color: #30B868;
    font-size: 20px;
}
.brain__section_text h2{
    color: #001931;
    font-size: 48px;
    padding-top: 10px;
}
.brain_pera{
    color: #001931;
    padding-top: 20px;
}
.brain__botom{
    display: flex;
    gap: 10px;
    padding-top: 20px;
}
.botom_img{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}
.brain__botom p{
  padding-top: 10px;
}

.botom__cartx{
    background-color: #F7F6F2;
    max-height: 500px;
    max-width: 1400px;
    margin-left: 260px;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}
.botom__cartx h2{
    padding-top: 50px;
    font-size: 40px;
}
.botom_p1 {
    padding-top: 20px;
    color: #627382;

}
.botom_p2 {
    padding-top: 20px;
    color: #627382;
    padding-bottom: 30px;

}
.botom_btn{
    color: #ffff;
    background-color: #30B868;
    padding: 11px 40px;
    border: none;
    margin-top: 20px;
    border-radius: 3px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    text-align: center;
}
.botom__cartx button:hover{
    background-color: #866ad35d;
}


.main__footer{
    background-color: #001931;
    max-height: 600px;
}

.footer_section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.footer__img{
  padding-left: 260px;
  padding-top: 100px;
 
}
.footer__link{
    padding-right: 300px;
    padding-top: 100px;
    
}
.footer__link h4{
  color: #fff;
  font-family: "Inter", sans-serif;
}
.link_icon i{
    color:#fff;
    margin-top: 15px;
}
.hr_tag{
    width:80%;
    margin-left: 260px;
    margin-top: 20px;
}
.last_pera{
    color: #fff;
    text-align: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 30px;
}