
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 16px;
}

.navigation__menu ul {
    display: flex;
    gap: 30px;
}

.navigation__menu ul li {
    list-style: none;

}

.navigation__menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.navigation__menu_btn {
    background-color: #30B868;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    font-family: "Inter", sans-serif;
}

/*hero section */

.hero__section {
    display: flex;
    justify-content: center;  
    align-items: center;   
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 16px;
    text-align: center;
}

.hero__section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.hero__section_bt1 {
    color: #30B868;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 40px;
    border: none;
    font-family: "Inter", sans-serif;
}
.ciccle_x1{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #d407a1;
}

.header__section_heading {
    color: #fff;
    font-size: 72px;
    padding-top: 20px;
    font-family: "Inter", sans-serif;
}

.header___section__heading_color {
    color: #30B868;
}

.header__section_pera {
    color: #ffff;
    font-size: 18px;
    line-height: 40px;
    font-family: "Inter", sans-serif;
}
.hero__section_2button{
 display: flex;
 gap: 15px;
}

.hero__section_bt2 {
    color: #ffff;
    background-color: #30B868;
    padding: 11px 40px;
    border: none;
    margin-top: 20px;
    border-radius: 3px;
    font-family: "Inter", sans-serif;
}

.hero__section_bt3 {
    padding: 10px 30px;
    border: 1px solid white;
    margin-top: 20px;
    border-radius: 3px;
    background: none;
    color: #ffff;
    font-family: "Inter", sans-serif;
}
.cart__main_section{
    margin-top: 100px;
    text-align: center;
}
.cart__main_section h2{
    color: #001931;
    font-size: 48px;
    font-family: "Inter", sans-serif;
}
.cart__main_section p{
    color: #627382;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding-top: 20px;
}

.cart__section{
    display: flex;
    justify-content: space-around;
    margin-right: 300px;
    margin-left: 300px;
    padding-top: 100px;
}
.mini__card1{
    width: 300px;
    height: 200px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-align: center;
     align-items: center;
}
.mini__card2{
    width: 300px;
    height: 200px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-align: center;
     align-items: center;
}
.mini__card3{
    width: 300px;
    height: 200px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-align: center;
     align-items: center;
}
.mini__card4{
    width: 300px;
    height: 200px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-align: center;
     align-items: center;
}